
@mixin lines {
   &:before{
      content: '';
      position: absolute;
      top: 13px;
      left: 620px;
      background: #FFFFFF;
      width: 60px;
      height: 1px;
   }
   &:after {
      content: '';
      position: absolute;
      top: 13px;
      left: 758px;
      background: #FFFFFF;
      width: 60px;
      height: 1px;
   }
}